@import "./variables.scss";

.touch__section {
  background-color: $primary-blue;
  color: $primary-white-text;
  text-align: center;
  padding-bottom: 50px;
  > p {
    border-bottom: 1px solid $primary-blue-text;
    display: inline-block;
  }
  #{&}--title {
    overflow-wrap: break-word;
    padding: 10px 0;
  }
}
