@import "./variables.scss";
@import "./mixins.scss";

$min_width: 320px;
$max_width: 1000px;
$min_font: 16px;
$max_font: 22px;

.color-green {
  @include color-writer($primary-white-text, $primary-green);
}
.color-green-sec {
  @include color-writer($primary-white-text, $secondary-green);
}
.color-pink {
  @include color-writer($primary-white-text, $primary-pink);
}
.color-blue {
  @include color-writer($primary-white-text, $primary-blue-1);
}
.color-blue-sec {
  @include color-writer($primary-white-text, $secondary-blue-1);
}
.color-yellow {
  @include color-writer($primary-dark, $primary-yellow);
}
.color-dark {
  @include color-writer($primary-white-text, $primary-dark);
}

.intro {
}
.intro__section {
  padding: 100px 0;
  #{&}--title {
    padding: 50px 0;
  }
  #{&}--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    @media screen and (max-width: 625px) {
      grid-template-columns: 1fr;
    }
    &-left {
      // padding-right: 20px;
      > h3 {
        padding-bottom: 25px;
      }
      > div {
        p {
          margin: 0 5px 5px 0;
        }
      }
    }
    &-right {
      // padding-right: 20px;
      p {
        padding-bottom: 20px;
      }
    }
  }
}
