@import "./variables.scss";
.active {
  border-bottom: 1px solid $primary-white-text;
  color: $primary-white-text;
}
svg {
  &:hover {
    transition: all 0.5s ease;
    fill: $primary-white-text;
    cursor: pointer;
  }
}
