// Background Related Colors
$primary-blue: #161a2f;
$secondary-blue: #0e1223;

// Text related colors
$primary-blue-text: #5e658d;
$primary-white-text: #eeeeff;

// Button related colors
$primary-dark: #000000;

//Skills related colors
$primary-green: #27ab00;
$secondary-green: #008472;
$primary-pink: #c70092;
$primary-blue-1: #0049c7;
$secondary-blue-1: #5f4dff;
$primary-yellow: #de9d06;

// New colors
$n-primary-dark: #292929;
$n-primary-white: #eeeeff;
