@import "./components/variables.scss";
@import "./components/mixins.scss";
// Code taken from the CSS-tricks for the fluid-typography

// Getting the font
@font-face {
  font-family: "IBM Bold";
  src: url(./fonts/Bold.ttf);
}
@font-face {
  font-family: "IBM Regular";
  src: url(./fonts/Regular.ttf);
}
@font-face {
  font-family: "IBM Light";
  src: url(./fonts/Light.ttf);
}
@font-face {
  font-family: "IBM Light Italic";
  src: url(./fonts/LightItalic.ttf);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: $n-primary-white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  // color: $primary-white-text;
  font-family: "IBM Bold";
}
h1 {
  @include fluid-type(320px, 1400px, 32px, 37px);
}
h2 {
  font-family: "IBM Bold";
  @include fluid-type(320px, 1400px, 35px, 40px);
}
h3 {
  @include fluid-type(320px, 1400px, 22px, 25px);
  color: $primary-blue-text;
}
p,
ul li {
  list-style: none;
  color: $primary-blue-text;
  @include fluid-type(320px, 1400px, 18px, 20px);
  line-height: 1.45;
  font-family: "IBM Regular";
}
p.modified {
  @include fluid-type(320px, 1400px, 16px, 18px);
  font-weight: 600;
}
p.modified-large {
  @include fluid-type(320px, 1400px, 20px, 22px);
  line-height: 1.75;
}
a {
  text-decoration: none;
  display: block;
  color: $primary-blue-text;
  transition: all 0.5s ease;
  &:hover {
    color: $primary-white-text;
    // border-bottom: 1px solid $primary-white-text;
  }
}

img {
  height: auto;
  width: 100%;
}

button,
.btn {
  border: none;
  outline: none;
  padding: 15px 40px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "IBM Regular";
}
@mixin container-width($container-width) {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $container-width;
  width: 100%;
}
.container-1000 {
  @include container-width(1000px);
}
.container-1200 {
  @include container-width(1200px);
}
.container-1400 {
  @include container-width(1400px);
}
.underline {
  border-bottom: 1px solid $primary-white-text;
  color: $primary-white-text;
}
.italic {
  font-family: "IBM Light Italic";
}
